body{
  font:12px/170% 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  margin:0;
  padding:0;
}
h1,h2,h3,h4{
  font:bold Georgia,'Times New Roman',Times,serif;
}
form em{ font-size:.75em; }
label{ font-size:1.15em; color:#404040; display:block; position:relative; }
label em{ font-size:.6em; position:relative; top:-2px; left:3px; }
input, textarea, select{ border:solid 1px #ccc; font-size:1em; color:#404040; padding:4px; }
label + input, label + textarea, label + select{ margin-bottom:20px; display:block; }
.hidden{ display:none; }

/* themeage */
header{
  width:100%;
  height:49px;
  background-color:#efefef;
  border-bottom:solid 1px #cfcfcf;
  position:relatve;
}
header div#logo {
  background:url("/assets/img/default/header-logo.png") 1px 1px no-repeat;
  width:191px;
  height:35px;
  margin-top:5px;
  position:absolute;
}
header>div{
  width:100%;
  height:48px;
  border-bottom:solid 1px #fff;
}
header ul{ 
  list-style-type:none; 
  position:relative;
  left:200px;
}
header ul li{
  height:48px;
  line-height:48px;
  background-color:#efefef;
  width:110px;
  text-align:center;
  float:left;
}
header ul li.on{
  background-color:#f8f8f8;
  width:108px;
  border-left:solid 1px #e2e2e2;
  border-right:solid 1px #e2e2e2;
}
header ul li.home {
}
header ul li a{
  height:48px;
  display:block;
}
header ul li a:link, header ul li a:visited, header ul li a:active{
  text-decoration:none;
  color:#8a8a8a;
  font-size:1.1em;
}
header ul li a img{ padding:0 3px; margin:-3px 0 0 0; }
header div.user{
  float:right;
  line-height:48px;
  margin-right:30px;
  color:#8a8a8a;
}
header div.user img { padding:0 0 0 3px; }

div#photos ul.grid {
  list-style-type:none;
  margin:0;
  padding:0;
}
div#photos ul.grid>li {
  float:left;
  width:200px;
  height:250px;
  padding: 25px 40px 25px 0;
} 
div#photos ul.grid>li>a>img{
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}
div#photos ul.grid ul.options { 
  margin:0;
  padding:0;
  list-style:none;
}
div#photos ul.grid ul.options>li {
  float:left;
  padding:2px 3px 0 0;
  font-size:.8em;
}
div#photos ul.grid ul.options>li.age { padding-left:10px; color:#b5b5b5; }
div#photos ul.grid ul.options>li.permission { padding-left:5px; }
div#photos ul.grid ul.options>li.permission.public { color:#63cd90; }
div#photos ul.grid ul.options>li.permission.private { color:#cdbf63; }

div.pagination { float:right; padding: 0 10px; }
div.pagination div.label { text-align:right; font-size:.85em; color:#bbb; }
div.pagination ol{ list-style:none; margin:0; padding;0; height:30px; font-size:.8em; }
div.pagination ol li{ text-align:center; margin:0 0 0 4px; float:left; background-color:#eee; border:solid 2px #ccc; -moz-border-radius:2px; }
div.pagination ol li>a{ min-width:15px; min-height:15px; margin:0; padding:4px; float:left; background-color:#eee;  }
div.pagination ol li.on{ border:solid 2px #43c2fd; }
div.pagination ol li>a:link, div.pagination ol li>a:visited, div.pagination ol li>a:active{ color:#999; text-decoration:none; }


div.margin { width:960px; margin:auto; }
/* // themeage */


div#setup{ width:400px; margin:auto; }
div#setup ol#setup-steps{
  list-style:none;
  height:50px;
  margin:0;
  padding:0;
}
div#setup ol#setup-steps li{
  background-color:#ddd;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  padding:10px 18px;
  margin:0 10px 0 0;
  float:left;
}
div#setup ol#setup-steps li.current{
  background-color:#3072b3;
  color:#eee;
}

div#upload ul#upload-queue{
  list-style:none;
  margin:0;
  padding:0;
}

div#upload ul#upload-queue li{
  margin:10px;
  padding:10px;
  float:left;
}
div#upload ul#upload-queue li label{
  padding:0;
  margin:0;
}
div#upload ul#upload-queue li img, div#upload ul#upload-queue li div.img{
  border:solid 2px #eee;
}
div#upload ul#upload-queue li div.img{
  width:200px;
  height:200px;
  font-weight:bold;
  font-size:larger;
  line-height:200px;
  text-align:center;
}
div#upload ul#upload-queue div.progress{
  height:15px;
  width:200px;
  background-color:#eee;
  border:solid 1px #ccc;
}
div#upload ul#upload-queue div.progress > div{
  height:100%;
  width:0;
  background-color:#bbb;
}

div#searchbar{ display:none; }

ul.tag-cloud{
  list-style-type:none;
}
ul.tag-cloud li{
  float:left;
  padding:10px 10px 10px 0;
}
.tag-1 { font-size:1em; line-height:1.9em; }
.tag-2 { font-size:1.1em; line-height:1.9em; }
.tag-3 { font-size:1.2em; line-height:1.9em; }
.tag-4 { font-size:1.3em; line-height:1.9em; }
.tag-5 { font-size:1.4em; line-height:1.9em; }
.tag-6 { font-size:1.5em; line-height:1.9em; }
.tag-7 { font-size:1.6em; line-height:1.9em; }
.tag-8 { font-size:1.7em; line-height:1.9em; }
.tag-9 { font-size:1.8em; line-height:1.9em; }
.tag-10 { font-size:1.9em; line-height:1.9em; }
