body{
  font:12px/170% 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}
div#site{ width:980px; margin:auto; }
h1,h2,h3,h4{
  font:bold Georgia,'Times New Roman',Times,serif;
}
form em{ font-size:.75em; }
label{ font-size:1.15em; color:#404040; display:block; position:relative; }
label em{ font-size:.6em; position:relative; top:-2px; left:3px; }
input, textarea, select{ border:solid 1px #ccc; font-size:1em; color:#404040; padding:4px; }
label + input, label + textarea, label + select{ margin-bottom:20px; display:block; }
.hidden{ display:none; }

div#photos ul.grid {
  list-style-type:none;
  margin:0;
  padding:0;
}

div#photos ul.grid li {
  float:left;
  width:200px;
  height:250px;
  padding: 25px;
} 

div#setup{ width:400px; margin:auto; }
div#setup ol#setup-steps{
  list-style:none;
  height:50px;
  margin:0;
  padding:0;
}
div#setup ol#setup-steps li{
  background-color:#ddd;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  padding:10px 18px;
  margin:0 10px 0 0;
  float:left;
}
div#setup ol#setup-steps li.current{
  background-color:#3072b3;
  color:#eee;
}

div#upload ul#upload-queue{
  list-style:none;
  margin:0;
  padding:0;
}

div#upload ul#upload-queue li{
  margin:10px;
  padding:10px;
  float:left;
}
div#upload ul#upload-queue li label{
  padding:0;
  margin:0;
}
div#upload ul#upload-queue li img, div#upload ul#upload-queue li div.img{
  border:solid 2px #eee;
}
div#upload ul#upload-queue li div.img{
  width:200px;
  height:200px;
  font-weight:bold;
  font-size:larger;
  line-height:200px;
  text-align:center;
}
div#upload ul#upload-queue div.progress{
  height:15px;
  width:200px;
  background-color:#eee;
  border:solid 1px #ccc;
}
div#upload ul#upload-queue div.progress > div{
  height:100%;
  width:0;
  background-color:#bbb;
}

div#searchbar{ display:none; }
