body.front h1 {
  text-align:center;
  font-size:2em;
}
div.front {
    width:800px;
    margin:auto;
}
div.front img.front {
  width:600px;
  height:399px;
  display:block;
  margin: 20px auto;
  cursor:none;
}
div.front img {
    -webkit-box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
}
