/**
 * OpenPhoto Default Theme
 *
 * Styles for the header and the navigation
 */

header {
    width: 100%;
    height: 49px;
    background-color: #EFEFEF;
    border-bottom: solid 1px #CFCFCF;
}

header h1 {
    background: url(../images/header-logo.png) center left no-repeat;
    width: 181px;
    height: 35px;
    text-indent: -9999px;
    position: relative;
    top: 7px;
    float: left;
    margin-right: 10px;
}

nav li {
    float: left;
    height: 49px;
    line-height: 49px;
    
    width: 10em;
    min-width: 108px;
    text-align: center;
}

nav li a {
    padding-left: 23px;
    text-decoration: none;
    color: #8A8A8A;
    font-size: 1.1em;
}

nav .on {
    border-left: solid 1px #E2E2E2;
    border-right: solid 1px #E2E2E2;
    background-color: #F8F8F8;
}

#nav-photos a {
    background: url(../images/header-navigation-photos.png) 0 .2em no-repeat;
}

#nav-tags a {
    background: url(../images/header-navigation-tags.png) 0 .2em no-repeat;
}

#nav-search a {
    background: url(../images/header-navigation-search.png) 0 .2em no-repeat;
}

#nav-upload a {
    background: url(../images/header-navigation-upload.png) 0 .2em no-repeat;
}
#searchbar, #settingsbar {
    display:none;
    background-color: #EFEFEF;
    border-bottom: 1px solid #CFCFCF;
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    padding: 10px;
    position: relative;
    top:-1px;
    width: 226px;
    height: 22px;
    z-index: 1;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; 
}

#searchbar input {
    width: 150px;
    float:left;
}

#searchbar button {
    margin: -3px 10px 0 0;
    float:right;
}

#settingsbar {
    width:100px;
    height:25px;
    margin:0 0 0 auto;
    padding-bottom:15px;
    font-size: .9em;
    line-height:1.5em;
}

#settingsbar p {
  margin-bottom:4px;
}

#settingsbar a {
    margin:0;
    padding:0;
}

#nav-signin {
    position: absolute;
    right: 30px;
    width: auto;
    min-width: inherit;
}
#nav-signin img {
    position:relative;
    top:5px;
    padding:0 0 0 3px;
}

#nav-signin button {
    margin: 0;
    padding: 0;
    border: none;
}

