/**
 * OpenPhoto Default Theme
 *
 * Pagination styles
 */

.pagination {
    text-align: right;
}

.pagination .label {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: .85em;
}

.pagination ul {
    height: 2em;
}

.pagination li {
    display: inline;
    margin: 0 0 0 4px;
}

.pagination a,
.pagination .on p {
    text-decoration: none;
    color: #999;
    text-decoration: none;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.pagination .on {
}

.pagination .on p {
    display: inline;
    color: #ccc;
    background-color:#fff;
}
