/**
 * OpenPhoto Default Theme
 *
 * Styles for list of photos and single photos
 */


/* Photo Grid on main page */

.photo-grid {
    overflow: hidden;
    _zoom: 1;
    margin-top: 3em;
}

.photo-grid .grid-item {
    float: left;
}

.photo-grid .grid-item a div{
    width:200px;
    height:200px;
    line-height: 200px;
    font-size: 60px;
    text-decoration: none;
}

.grid-200 .grid-item {
    width : 240px;
    height : 260px;
}

.photo {
}
.photo-grid .grid-item a div, .grid-item a img, .photo {
  -webkit-box-shadow: 2px 2px 2px #888;
  -moz-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.photo-grid .grid-item .empty-item {
    width:198px;
    height:198px;
    border: 1px solid rgb(204, 204, 204);
}

.photo-grid .grid-item a:hover {
    color: rgb(96, 120, 144);
}

.meta {
    font-size: .8em;
    width:252px;
    margin: 0 0 8px;
}

.age {
    float: left;
    margin-right: 1em;
}

.photos .tags, .photos .geo {
	display: inline-block;
}

.hastags {
    clear: left;
    float: left;
    margin-right: .5em;
}

.photo-grid .private {
    color: #CDBF63;
}

.photo-grid .public {
    color: #63CD90;
}

/* Photo Details Page */

.photo-details h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
    color: #666;
}

.photo-details .description {
    color: #666;
}

.photo-wrapper {
    position: relative;
    margin-top: 1em;
}

.photo-wrapper p {
    font-size: 1.1em;
}

.photo-details .photo-column {
    float: left;
    width: 700px;
}

.photo-details .sidebar {
    float: right;
}

.photo-details .meta li {
    padding-left: 20px;
}

.photo-details .date {
    background: url(../images/icon-date.png) center left no-repeat;
}

.photo-details .heart {
    background: url(../images/icon-heart.png) center left no-repeat;
}

.photo-details .tags {
    background: url(../images/icon-tags.png) center left no-repeat;
}

.photo-details .location {
    background: url(../images/icon-globe.png) left 2px no-repeat;
}

.photo-details .original {
    background: url(../images/header-navigation-photos.png) center left no-repeat;
}

.photo-details .location img {
    display: block;
}

.image-pagination {
    overflow: hidden;
    _zoom: 1;
    width: 150px;
    margin-top: 3em;
}

.image-pagination div {
    border: 1px solid #ddd;
    height: 50px;
    width: 65px;
    float: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.image-pagination a {
    height: 50px;
    width: 65px;
    display: block;
}

.image-pagination .previous {
    background: url(../images/icon-left.png) center left no-repeat;
}

.image-pagination .previous a {
	background-position: 15px 0px !important;
}

.image-pagination .next {
    background: url(../images/icon-right.png) center right no-repeat;
    margin-left: 10px;
}

.image-pagination .previous a {
    margin-right: 15px;
}

.image-pagination .empty {
  border:none;
  background: none;
}

ul.comments li{
  margin:0 0 15px;
  clear:both;
}
ul.comments li div.date{
  clear: both;
  margin-left: 15px;
  font-size:smaller;
  font-style:italic;
}
ul.comments li img.avatar{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border:solid 2px #ccc;
  float:left;
  margin:0 4px 4px 0;
}
ul.comments li .date {
  font-size: .8em;
  font-style:italic;
}
ul.comments li form {
  display:inline;
}

.comment-form {
    margin:10px 0;
    clear: both;
}
.comment-form form {
    display:inline;
}

.owner-edit{
  min-height:600px;
}
.owner-edit h2 {
  border-top:solid 1px #aaa;
  border-bottom:solid 1px #aaa;
  background-color: #ddd;
  padding:4px 0;
  text-align:center;
  color:#666;
  margin:10px 0;
}
.owner-edit > div{
  width:50%;
  float:left;
}
.owner-edit form label {
  display:block;
  font-weight:bold;
}
.owner-edit form>div {
  margin-bottom:10px;
}
.owner-edit form label + input, .owner-edit form label + textarea {
  display:block;
  margin:0 0 10px 0;
  width:350px;
}
.owner-edit form button {
  display:block;
  clear:both;
}
.owner-edit form input[type="radio"] {
  float:left;
  margin:5px 5px 0 0;
}
.owner-edit form label + textarea {
  height:50px;
}

.owner-edit form ul ol{
  margin:0 0 0 25px;
}
.owner-edit{
  clear:left;
}

.owner-edit .delete {
  float:right;
}

button, a.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:solid 2px #ddd;
  padding:5px;
  color:#777;
  cursor:pointer;
  background-color:#efefef;
  text-decoration:none;
}

button.delete, a.button.delete {
  border-color:#f06eaa;
}

input, textarea, select{
    border:solid 1px #ccc;
    color:#404040;
    padding:3px;
}
