.settings form label {
  display:block;
  font-weight:bold;
}
.settings form label + input, .settings form label + textarea {
  display:block;
  margin:0 0 10px 0;
  width:350px;
}

.settings ul.groups li {
  margin:0 0 20px 0;
}

.settings ul.credentials ul, .settings ul.webhooks ul {
  margin: 0 0 0 25px;
}
