body{
  font:12px/170% 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  margin:0;
  padding:0;
  color:#bbb;
}
h1,h2,h3,h4{
  font:bold Georgia,'Times New Roman',Times,serif;
}
img, form{ border:0; padding;0; margin:0; }
.hidden{ display:none; }

/* themeage */
button, a.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:solid 2px #ddd;
  padding:5px;
  color:#777;
  cursor:pointer;
  background-color:#efefef;
  text-decoration:none;
}
button.delete, a.button.delete {
  border-color:#f06eaa;
}
input, textarea, select{ border:solid 1px #ccc; color:#404040; padding:3px; }
header{
  width:100%;
  height:49px;
  background-color:#efefef;
  border-bottom:solid 1px #cfcfcf;
  position:relatve;
}
header div#logo {
  background:url("/assets/img/default/header-logo.png") 1px 1px no-repeat;
  width:191px;
  height:35px;
  margin-top:5px;
  position:absolute;
}
header>div{
  width:100%;
  height:48px;
  border-bottom:solid 1px #fff;
}
header ul{
  list-style-type:none;
  display: inline-block;
  position:relative;
  left:200px;
  padding: 0;
  margin: 0;
}
header ul li{
  height:48px;
  line-height:48px;
  background-color:#efefef;
  width:110px;
  text-align:center;
  float:left;
}
header ul li.on{
  background-color:#f8f8f8;
  width:108px;
  border-left:solid 1px #e2e2e2;
  border-right:solid 1px #e2e2e2;
}
header ul li.home {
}
header ul li a{
  height:48px;
  display:block;
}
div#searchbar{
  display:none;
  position:relative;
  width:226px;
  top:1px;
  padding:10px;
  background-color:#efefef;
  border-left:solid 1px #cfcfcf;
  border-bottom:solid 1px #cfcfcf;
  border-right:solid 1px #cfcfcf;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
header ul li a:link, header ul li a:visited, header ul li a:active{
  text-decoration:none;
  color:#8a8a8a;
  font-size:1.1em;
}
header ul li a img{ padding:0 3px; margin:-3px 0 0 0; }
header div.user{
  float:right;
  line-height:48px;
  margin-right:30px;
  color:#8a8a8a;
}
header div.user img { padding:0 0 0 3px; }
header div.user #login{ float:right; }

div#photos ul.grid {
  list-style-type:none;
  margin:0;
  padding:0;
}
div#photos ul.grid>li {
  float:left;
  width:200px;
  height:225px;
  padding: 25px 40px 25px 0;
}
div#photos ul.grid>li>a>img{
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}
div#photos ul.grid ul.options {
  margin:0;
  padding:0;
  list-style:none;
}
div#photos ul.grid ul.options>li {
  float:left;
  padding:2px 3px 0 0;
  font-size:.8em;
}
div#photos ul.grid { font-size:.8em; }
div#photos ul.grid span.age { color:#b5b5b5; }
div#photos ul.grid span.permission { padding-left:5px; }
div#photos ul.grid span.permission.public { color:#63cd90; }
div#photos ul.grid span.permission.private { color:#cdbf63; }

div.pagination { float:right; padding: 0 10px; }
div.pagination div.label { text-align:right; font-size:.85em;  }
div.pagination ol{ list-style:none; margin:0; padding;0; height:30px; }
div.pagination ol li{ text-align:center; margin:0 0 0 4px; float:left; background-color:#eee; border:solid 2px #ccc; -moz-border-radius:2px; }
div.pagination ol li>a{ min-width:15px; min-height:15px; margin:0; padding:4px; float:left; background-color:#eee;  }
div.pagination ol li.on{ border:solid 2px #43c2fd; }
div.pagination ol li>a:link, div.pagination ol li>a:visited, div.pagination ol li>a:active{ color:#999; text-decoration:none; }

div#photo div.info {
  padding:10px 0;
  margin:5px 0 0;
  font-size:.9em;
}
div#photo div.info>div{
  float:left;
}
div#photo div.info ul{
  list-style:none;
  margin:0;
  padding:0;
  width:350px;
  float:left;
}
div#photo div.info li {
  padding:0 3px 0 18px;
  line-height:1.4em;
  margin:0 0 4px;
}
div#photo div.info li.tags {
  background:url("/assets/img/default/icon-tags.png") no-repeat;
}
div#photo div.info li.globe {
  background:url("/assets/img/default/icon-globe.png") no-repeat;
}
div#photo div.info li.date {
  background:url("/assets/img/default/icon-date.png") no-repeat;
}
div#photo div.info li.heart {
  background:url("/assets/img/default/icon-heart.png") no-repeat;
}
div#photo div.info div.next-previous>div {
  line-height:0;
  float:left;
  margin:0 4px;
  border:solid 1px #ddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
div#photo div.info div.previous {
  background:url("/assets/img/default/icon-left.png") no-repeat 0 17px;
  padding:0 0 0 15px;
}
div#photo div.info div.next {
  background-position:top right;
  background:url("/assets/img/default/icon-right.png") no-repeat 50px 17px;
  padding:0 15px 0 0;
}
div#photo div.info div.previous img, div#photo div.info div.next img {
  width:50px;
  height:50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
div#photo div.info a:link, div#photo div.info a:visited, div#photo div.info a:active{
  color:#bbb;
}
div#photo div.info div.comment-form{
  float:right;
}
div#photo div.info div.comment-form div.see-all{
  float:right;
}
div#photo div.info form textarea {
  height:30px;
  width:400px;
  border:solid 1px #ddd;
  color:#888;
  font-size:1em;
  font:12px/170% 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}

div#photo div.picture {
  padding:10px 0;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
div#photo div.picture img {
  display:block;
  margin:auto;
  padding:0;
  border:0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
}
div#photo div.picture div{
  color:#666;
  margin:auto;
}
div#photo div.picture div.title{
  font-size:1.75em;
  padding-top:10px;
}
div#photo div.picture div.description{
  font-size:1em;
  padding-top:5px;
}
div#photo div.meta-content {
  color:#888;
  border-bottom: solid 1px #eee;
}
div#photo div.meta-content>div {
  width:50%;
  float:left;
  margin:10px 0;
}
div#photo img.map {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
div#photo ol.comments, div#photo ul.exif{
  list-style:none;
  padding:0;
  font-size:.9em;
  margin:0;
}
div#photo ol.comments li{
  margin:0 0 15px;
  clear:both;
}
div#photo ol.comments li div.date{
  font-size:smaller;
  font-style:italic;
}
div#photo ol.comments li img.avatar{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border:solid 2px #ccc;
  float:left;
  margin:0 4px 4px 0;
}
div#photo div.owner {
  padding:10px 0;
}
div#photo div.owner h3 {
  margin:0 0 10px;;
  padding:5px;
  background-color:#efefef;
  border-top:solid 1px #999;
  border-bottom:solid 1px #999;
  text-align:center;
}
div#photo div.owner input, div#photo div.owner textarea {
  width:400px;
}
div#photo div.owner label {
  font-weight:bold;
  display:block;
}
div#photo div.owner label + input, div#photo div.owner label + textarea {
  margin:0 0 10px;
}
div#photo div.owner>div {
  float:left;
  width:50%;
}
div#photo div.owner>div.delete form {
  float:right;
  margin-top:
}
div#photo div.owner div.manage-comments {
  margin-top:10px;
}

footer{
  height:50px;
  background-color:#efefef;
  border-top:solid 1px #cfcfcf;
  color:#999;
}
footer div {
  text-align:center;
  line-height:50px;
}
div.margin { width:960px; margin:auto; }

/* // themeage */
div#setup form em{ font-size:.75em; }
div#setup label{ font-size:1.15em; color:#404040; display:block; position:relative; }
div#setup label em{ font-size:.6em; position:relative; top:-2px; left:3px; }
div#setup label + input, label + textarea, label + select{ margin-bottom:20px; display:block; }
div#setup{ width:400px; margin:auto; }
div#setup ol#setup-steps{
  list-style:none;
  height:50px;
  margin:0;
  padding:0;
}
div#setup ol#setup-steps li{
  background-color:#ddd;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  padding:10px 18px;
  margin:0 10px 0 0;
  float:left;
}
div#setup ol#setup-steps li.current{
  background-color:#3072b3;
  color:#eee;
}

div#upload label.filebutton {
    width:70px;
    height:20px;
    overflow:hidden;
    position:relative;
    background-color:#ccc;
}

div#upload {
  padding:10px 0;
}
div#upload label span input {
    z-index: 999;
    line-height: 0;
    font-size: 21px;
    position: absolute;
    border:solid 1px red;
    top: -2px;
    left: -305px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}
div#upload ul#upload-queue{
  list-style:none;
  margin:0;
  padding:0;
}
div#upload ul#upload-queue li{
  margin:10px 0;
  padding:10px 0;
}
div#upload ul#upload-queue li label{
  padding:0;
  margin:0;
}
div#upload ul#upload-queue li img, div#upload ul#upload-queue li div.img{
  border:solid 2px #eee;
}
div#upload ul#upload-queue li div.img{
  width:100px;
  height:100px;
  font-weight:bold;
  font-size:larger;
  line-height:100px;
  text-align:center;
}
div#upload ul#upload-queue div.progress{
  height:15px;
  width:102px;
  background-color:#efefef;
  border:solid 1px #eee;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
div#upload ul#upload-queue div.progress > div{
  height:100%;
  width:0;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  background-image:url("/assets/img/default/progress.gif");
}
div#upload ul#upload-queue div.progress > div.complete{
  background-image:none;
  background-color:#43c2fd;
}


ul.tag-cloud{
  list-style-type:none;
}
ul.tag-cloud li{
  float:left;
  padding:10px 10px 10px 0;
}
.tag-1 { font-size:1em; line-height:1.9em; }
.tag-2 { font-size:1.1em; line-height:1.9em; }
.tag-3 { font-size:1.2em; line-height:1.9em; }
.tag-4 { font-size:1.3em; line-height:1.9em; }
.tag-5 { font-size:1.4em; line-height:1.9em; }
.tag-6 { font-size:1.5em; line-height:1.9em; }
.tag-7 { font-size:1.6em; line-height:1.9em; }
.tag-8 { font-size:1.7em; line-height:1.9em; }
.tag-9 { font-size:1.8em; line-height:1.9em; }
.tag-10 { font-size:1.9em; line-height:1.9em; }
