body.upload h1 {
  font-size:2em;
}
body.upload .upload-button {
  display:none;
}
div#upload {
  padding:10px 0;
}
div#upload label span input {
    z-index: 999;
    line-height: 0;
    font-size: 21px;
    position: absolute;
    border:solid 1px red;
    top: -2px;
    left: -305px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}
div#upload ul#upload-queue{
  list-style:none;
  margin:0;
  padding:0;
}
div#upload ul#upload-queue li{
  margin:10px 0;
  padding:10px 0;
}
div#upload ul#upload-queue li label{
  padding:0;
  margin:0;
}
div#upload ul#upload-queue li img, div#upload ul#upload-queue li div.img{
  border:solid 2px #eee;
}
div#upload ul#upload-queue li div.img{
  width:100px;
  height:100px;
  font-weight:bold;
  font-size:larger;
  line-height:100px;
  text-align:center;
}
div#upload ul#upload-queue div.progress{
  height:15px;
  width:102px;
  background-color:#efefef;
  border:solid 1px #eee;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;

}
div#upload ul#upload-queue div.progress > div{
  height:100%;
  width:0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  background-image:url("../images/progress.gif");
}
div#upload ul#upload-queue div.progress > div.complete{
  background-image:none;
  background-color:#43c2fd;
}

/****************************
* STYLES FOR NEW UPLOADER
****************************/
#fallback { display: none; }
#uploader-frame { width: 700px; height: 600px; margin: 0 auto; background-color: #EFEFEF; padding: 10px 50px 10px 50px; border-bottom: solid 1px #CFCFCF; border-right: solid 1px #CFCFCF; position: relative; }
#drop-zone { width: 600px; height: 500px; margin: 0px auto; color: black; overflow-x: hidden; overflow-y: auto; border: 1px solid #54c6fb; }

/* step indicators */
#uploader-frame .step { position: absolute; left: 21px; font-size: 60px; }
#uploader-frame .step.one { top: 33px; }
#uploader-frame .step.two { top: 116px; }

/* options in dropzone */
#uploader-frame .options { width: 600px; margin: 0 auto; color: black; }
#uploader-frame .custom { display: none; }
#uploader-frame .custom input { width: 170px; }
#uploader-frame p { color: gray; font-size: 11px; }
#uploader-frame .options > div { padding-bottom: 5px; }
#uploader-frame label { display: inline-block; width: 70px; }
#uploader-frame .tags { width: 400px; }

/* drop zone has three states */
#drop-zone.waiting { background-color: #BDBDBD; }
#drop-zone.hover { background-color: #54c6fb; }
#drop-zone.active { background-color: #BDBDBD; }

/* drop zone wating instructions */
#drop-zone .instructions { display: none; margin: 28px 0 0 20px; font-size: 20px; }
#drop-zone.waiting .instructions{ display: block; }

/* photo in drop zone */
#drop-zone .photo { width: 100%; position: relative; height: 32px; z-index: 5; padding: 17px 0 6px 0;}
#drop-zone .photo .name { margin-left: 60px; }
#drop-zone .photo .size { float: right; margin-right: 5px; }
#drop-zone .photo > span.progress {
  z-index: -1;
  display: block;
  height: 100%;
  background-color: #e5e88b;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e5e88b), color-stop(1, #f0f2ac));
  background-image: -webkit-linear-gradient( center bottom, color-stop(0, #e5e88b) 37%, color-stop(1, #f0f2ac)) 69%);
  background-image: -moz-linear-gradient( center bottom, color-stop(0, #e5e88b) 37%, color-stop(1, #f0f2ac)) 69%);
  background-image: -ms-linear-gradient( center bottom, color-stop(0, #e5e88b) 37%, color-stop(1, #f0f2ac)) 69%);
  background-image: -o-linear-gradient( center bottom, color-stop(0, #e5e88b) 37%, color-stop(1, #f0f2ac)) 69%);
  -webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: absolute;
  top: 0px;
  overflow: hidden;
}
#drop-zone .photo > span.progress.finished {
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
  background-image: -webkit-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
  background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
  background-image: -ms-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
  background-image: -o-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
}
#drop-zone .photo > span.progress.error {
  background-color: rgb(214,105,163);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(214,105,163)), color-stop(1, rgb(235,113,178)) );
  background-image: -webkit-linear-gradient( center bottom, rgb(214,105,163) 37%, rgb(235,113,178) 69% );
  background-image: -moz-linear-gradient( center bottom, rgb(214,105,163) 37%, rgb(235,113,178) 69% );
  background-image: -ms-linear-gradient( center bottom, rgb(214,105,163) 37%, rgb(235,113,178) 69% );
  background-image: -o-linear-gradient( center bottom, rgb(214,105,163) 37%, rgb(235,113,178) 69% );
}
#drop-zone .photo .thumb { position: absolute; left: 3px; top: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
