# 403 Access forbidden for ini files
#<Files ~ "\.ini">
#    Order allow,deny
#    Deny from all
#    Satisfy All
#</Files>

<IfModule mod_php5.c>
php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value memory_limit 256M
SetEnv htaccessWorking true
</IfModule>

RewriteEngine on
RewriteRule \.ini$ - [F,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php?__route__=/$1 [L,QSA]

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

ExpiresActive On
ExpiresByType text/javascript "A31536000"
ExpiresByType application/x-javascript "A31536000"
ExpiresByType text/css "A31536000"
ExpiresByType image/x-icon "A31536000"
ExpiresByType image/gif "A604800"
ExpiresByType image/jpg "A604800"
ExpiresByType image/jpeg "A604800"
ExpiresByType image/png "A604800"

<FilesMatch "\.(ttf|otf|eot)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>
FileETag MTime Size

Options -Indexes
