# Files we don't want
*.DS_Store
*~
*.swp
*.graffle
.idea
*.iml

# Useful files which should never be committed
src/configs/override.ini
src/configs/generated/*
src/html/photos/**/*
src/html/assets/cache
src/plugins/*
src/libraries/plugins/*
src/userdata/**/*
!default
