# Files we don't want
.DS_Store
*~
*.swp
*.graffle

# Useful files which should never be committed
src/configs/override.ini
src/configs/generated/*
src/html/photos/**/*
src/html/assets/themes/*
src/plugins/*
src/userdata/**/*
!default
