.op-lightbox {
  z-index: 2013;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0,0,0,0.9);
  
  .header {
    padding: 12px 0;
  }
  
  .logo {
    
    float: left;
    margin: 0;
    
    margin: 0;
    padding: 0;
    background: transparent url("../images/logo.png") 50% 50% no-repeat;
    height: 32px;
    width: 119px;
    text-indent: -9999em;
  }
  
}