.content {
  padding-top: 20px;
}

.editable-container{
  padding: 0;
  
  &.bottom{
    .arrow {
      border-bottom-color: #f7f7f7;
    }
  }
  
  .editable-buttons {
    i {
      line-height: 1em;
    }
  }
}

.sidebar-heading {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2em;
  color: #666;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #666;
  > li {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 1.5em;
    h3 {
      color: #000;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 3em;
      margin: 0;
      border-top: 1px solid #ccc;
      font-weight: 500;
    }
  }
}

.offscreen {
  position:absolute;
  top:-1000px;
  left:-1000px;
}

[class=icon*]{
  font-weight: 300;
}