.grid-item:hover {
  background-color:#f1f1f1;
}

.grid-item:hover a.pin {
  visibility:visible;
  -moz-transition:opacity 0.5s;
  -webkit-transition:opacity 0.5s;
  -ms-transition:opacity 0.5s;
  transition:opacity 0.5s;
  opacity:1;
  filter:alpha(opacity=100);
}
a.pin {
  background:#fff url("../images/icons.png") 3px -1146px no-repeat;
  position:absolute;
  width:17px;
  height:30px;
  display:block;
  z-index:1000;
  padding:3px;
  border-radius:3px;
  margin:6px 0 0 6px;
  -webkit-box-shadow:inset 0px 0px 5px 0px #999;
  -moz-box-shadow:inset 0px 0px 5px 0px #999;
  box-shadow:inset 0px 0px 5px 0px #999;
  cursor:pointer;
  display:block;
}

.unpinned a.pin {
  background:#fff url("../images/icons.png") 3px -1106px no-repeat;
  visibility:hidden;
  opacity:0;
  filter:alpha(opacity=0);
}
