/* UPLOAD ********/
body.upload form.upload {
  margin:0 10px;
}
body.upload .poweredby a {
  font-style:italic;
}
body.upload .message img {
  top:-4px;
}
body.upload .upload-share {
  display:none;
}
body.upload .upload-share-facebook {
  border-right: solid 1px #f1f1f1;
}
body.upload .plupload_button.plupload_start {
  display:none;
}
body.upload .plupload_container {
  border:solid 1px #ddd;
  padding:1px;
}
body.upload .upload-button {
  margin:10px 0;
}
body.upload .insufficient {
  opacity : 1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; 
}
